/* Variables */
:root {
    --primary: #533E85;
    --business: #548CFF;
    --personal: var(--primary);
    --light: #EEE;
    --white: #FFF;
    --grey: #888;
    --dark: #313154;
    --danger: #ff5b57;
    --mulberry: #251F25;
    --grape: #1E191E;
    --shadowg: #0000001a;

    /*shadow and glow variables*/
    --shadow: 0 1px 3px var(--shadowg);
    --business-glow: 0px 0px 4px var(--business);
    --personal-glow: 0px 0px 4px var(--personal);
}

/*Global Styles*/
* {
    box-sizing: border-box;
    font-family: 'poppins';
}

body{
    background: var(--light);
    color: var(--dark);
    transition: all 0.3s ease-in-out;
}
body.dark{
    background-color: var(--grape);
    color: var(--dark);
}
section {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
/*input styles - reset*/
input[type='text'],
input[type='submit'],
button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: initial;
}

h2 {
    color: var(--dark);
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

body.dark h2 {
    color: var(--light);
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

h3 {
    color: var(--dark);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

body.dark h3 {
    color: var(--light);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

h4 {
    color: var(--grey);
    font-size: 0.875rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

body.dark h4 {
    color: var(--grey);
    font-size: 0.875rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

input[type="date"] {
    display: block;
    width: 100%;
    font-size: 1rem;
    padding: 1rem;
    color: var(--dark);
    background-color: var(--white);
    border: 1px solid var(--light);
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
}

body.dark input[type="date"] {
    display: block;
    width: 100%;
    font-size: 1rem;
    padding: 1rem;
    color: var(--grey);
    background-color: var(--mulberry);
    border: 1px solid var(--mulberry);
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
}


.greeting.title {
    display: flex;
}

.greeting .title input {
    margin-left: 0.2rem;
    flex: 1 1 0%;
    min-width: 0;
    font-size: 3rem;
    color: var(--personal);
    font-weight: 300;
}
.create-todo{
    display: block;
}
.create-todo input[type="text"] {
    display: block;
    width: 100%;
    font-size: 1.125rem;
    padding: 1rem;
    color: var(--dark);
    background-color: var(--white);
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
}

body.dark .create-todo input[type="text"] {
    display: block;
    width: 100%;
    font-size: 1.125rem;
    padding: 1rem;
    color: var(--grey);
    background-color: var(--mulberry);
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
}


.create-todo .options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin-bottom: 1.5rem;
}

.create-todo .options label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    padding: 1.5rem;
    box-shadow: var(--shadow);
    border-radius: 0.5rem;
    cursor: pointer;
}

body.dark .create-todo .options label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--mulberry);
    padding: 1.5rem;
    box-shadow: var(--shadow);
    border-radius: 0.5rem;
    cursor: pointer;
}

input[type="radio"],
input[type="checkbox"] {
    display: none;
}

.bubble {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 10rem;
    border: 2px solid var(--business);
    box-shadow: var(--business-glow);
}

.bubble.personal {
    border-color: var(--personal);
    box-shadow: var(--personal-glow);
}

.bubble::after {
    content: '';
    display: block;
    opacity: 0;
    background-color: var(--business);
    box-shadow: var(--business-glow);
    border-radius: 10rem;
    transition: 0.2s ease-in-out;
}

.bubble.personal::after {
    background-color: var(--personal);
    box-shadow: var(--personal-glow);
}

input:checked ~ .bubble::after {
    width: 0.75rem;
    height: 0.75rem;
    opacity: 1;
}

.create-todo .options label div {
    color: var(--dark);
    font-size: 1.125rem;
    margin-top: 1rem;
}
body.dark .create-todo .options label div {
    color: var(--grey);
    font-size: 1.125rem;
    margin-top: 1rem;
}
.create-todo input[type="submit"] {
    display: block;
    width: 100%;
    font-size: 1.125rem;
    padding: 1rem 1.5rem;
    color: var(--white);
    font-weight: 700;
    text-transform: uppercase;
    background-color: var(--primary);
    box-shadow: var(--personal-glow);
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.2s ease-out;
}

body.dark .create-todo input[type="submit"] {
    display: block;
    width: 100%;
    font-size: 1.125rem;
    padding: 1rem 1.5rem;
    color: var(--light);
    font-weight: 700;
    text-transform: uppercase;
    background-color: var(--primary);
    box-shadow: var(--personal-glow);
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.2s ease-out;
}

.create-todo input[type="submit"]:hover {
    opacity: 0.75;
}

.todo-list .list {
    margin: 1rem 0;
}

.todo-list .todo-item {
    display: flex;
    align-items: center;
    background-color: var(--white);
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    margin-bottom: 1rem;
}
body.dark .todo-list .todo-item {
    display: flex;
    align-items: center;
    background-color: var(--mulberry);
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    margin-bottom: 1rem;
}

.todo-item label {
    display: block;
    margin-right: 1rem;
    cursor: pointer;
}

.todo-item .todo-content {
    flex: 1 1 0%;
}

.todo-item .todo-content input {
    color: var(--dark);
    font-size: 1.125rem;
}

body.dark .todo-item .todo-content input {
    color: var(--grey);
    font-size: 1.125rem;
}

.todo-item .due-date input{
    font-size: 0.75rem;
    color: var(--grey);
    margin-top: 0.5rem;
}

.todo-item .actions {
    display: flex;
    align-items: center;
}

.todo-item .actions button {
    display: block;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: var(--white);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}


.todo-item .actions button:hover {
    opacity: 0.75;
}

.todo-item .actions .edit {
    margin-right: 0.5rem;
    background-color: var(--primary);
}

.todo-item .actions .delete {
    background-color: var(--danger);
}

.todo-item.done .todo-content input {
    text-decoration: line-through;
    color: var(--grey);
}
.mode {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}
.mode h4 {
    padding-left: 1rem;
    align-self: center;
}
.mode .toggle {
    height: 2rem;
    width: 4.5rem;
    background: white;
    border-radius: 1.3rem;
    box-shadow: var(--shadow);
    transition: all 0.3s ease-in-out;
    align-items: center;
    justify-content: center;
}

body.dark .mode .toggle {
    height: 2rem;
    width: 4.5rem;
    background: var(--mulberry);
    border-radius: 1.3rem;
    box-shadow: var(--shadow);
}
.mode .toggle::before{
    content:'';
    background: var(--personal);
    position: absolute;
    margin: 0.25rem;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 10rem;
    border: 2px solid var(--personal);
    box-shadow: var(--dark);
    transition: all 0.3s ease-in-out;
}
.mode .toggle.active::before{
    left: 4rem
}

.greeting .alerts {
    display: flex;
    justify-content: flex-end;
    /*align-items: flex-end;*/
}
.greeting .custom-alert {
    display: none;
    position: fixed;
    background-color: var(--white);
    border-radius: 10rem;
    border: 2px solid var(--personal);
    box-shadow: var(--dark);
    padding: 0.5rem;
}
body.dark .greeting .custom-alert {
    display: none;
    position: fixed;
    background-color: var(--mulberry);
    border-radius: 10rem;
    border: 2px solid var(--personal);
    box-shadow: var(--mulberry);
    padding: 0.8rem;
}

.greeting .alert-content {
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.greeting .alert-content p{
    padding: 0.5rem;
}
body.dark .greeting .alert-content p {
    padding: 0.5rem;
    color: var(--grey);
}

.greeting .close-btn{
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: bold;
    padding-left: 0.5rem;
}

body.dark .alerts .close-btn{
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: bold;
    padding-left: 0.5rem;
    color: var(--grey);
}

.custom-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}



.modal-section .modal-content {
    position: fixed;

    background: var(--light);
    padding: 5rem;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    margin:auto;
}

body.dark .modal-section .modal-content {
    position: fixed;

    background: var(--mulberry);
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    margin:auto;
}

.modal-content .close-modal {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--dark);
}

body.dark .modal-content .close-modal {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--light);
}


lottie-player{
    background-color: var(--light);
    width: auto;
    height: auto;
}

body.dark lottie-player{
    background-color: var(--mulberry);
    width: auto;
    height: auto;
}